<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070546959095-cei4o4utua33u585nqm8ea4ikssl3u17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070546959095-cei4o4utua33u585nqm8ea4ikssl3u17</string>
	<key>API_KEY</key>
	<string>AIzaSyAPd8W73UBa8EjNzwpujyvfQxAtcpt58uY</string>
	<key>GCM_SENDER_ID</key>
	<string>1070546959095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cst.cams.clubs</string>
	<key>PROJECT_ID</key>
	<string>cams-d3bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>cams-d3bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070546959095:ios:99816c38a7d9bfe1cab1f2</string>
</dict>
</plist>